build/
obj/
derived_src/
documentation/
NaturalDocs/Data
NaturalDocs/LastCrash.txt
Test.bundle/
ToiletKit.framework/
ToiletLisp.app/
.DS_Store
_stamp.mm
*~
*.o
a123
debug*.sh
gmon.out
Notizen.txt
push.sh
rsync*.sh
run*.sh
nohup.out
JOURNAL.html
